.component.detail-title {

  z-index: 1;
  @include nav;
  @include fade(hidden);

  h1 {
    float: right;
    text-align: right;
    font-weight: normal;
    padding: 12px;
  }

  .close {
    position: absolute;
    width: 32px;
    height: 32px;
    @include icon('resources/icons/light/btn-page-nav-close.png', 32px, 32px);
    padding: 0 12px 12px 12px;

    &:active {
      @include icon('resources/icons/dark/btn-page-nav-close.png', 32px, 32px);
    }
  }
}
